@import "src/styles-color.scss";

.menu {
  height: 90vh;
  width: 100vw;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
}

.menu__container {
  height: 90vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $primary;
  color: $text;
}
.menu__link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  padding-left: 1rem;
  cursor: pointer;
}

.menu__link:hover {
  background-color: #0f1d6e;
}

.menu__complement {
  width: 40%;
  height: 90vh;
  position: relative;
}

@media screen and (min-width: 600px) {
  .menu__container {
    width: 50%;
  }
  .menu__complement {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .menu__container {
    width: 20%;
  }
  .menu__complement {
    width: 80%;
  }
}
