<div class="conversion-rate">
  <div class="conversion-rate__pair-element-container">
    <mat-form-field class="conversion-rate__element-input" appearance="outline">
      <mat-label>Tasa Nominal %</mat-label>
      <input
        type="number"
        matInput
        placeholder="Tasa Nominal %"
        [(ngModel)]="rateSelected.value"
        (keyup.enter)="converterRate()"
        (keydown)="clear()"
      />
    </mat-form-field>

    <mat-form-field class="conversion-rate__element-select">
      <mat-label>TN</mat-label>
      <mat-select [(ngModel)]="rateSelected.id">
        <mat-option *ngFor="let rate of rates" [value]="rate.id">
          {{ rate.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-icon
    class="conversion-rate__convert-icon"
    aria-hidden="false"
    aria-label="Example home icon"
    (click)="converterRate()"
    >arrow_downward</mat-icon
  >

  <div
    class="conversion-rate__bond-container"
    [ngClass]="{
      'conversion-rate__bond-container--border':
        rateConverted.value && rateConverted.id
    }"
  >
    <div class="conversion-rate__pair-element-container">
      <mat-form-field
        class="conversion-rate__element-input"
        appearance="outline"
      >
        <mat-label>Tasa Efectiva %</mat-label>
        <input
          type="number"
          matInput
          placeholder="Tasa Efectiva %"
          [(ngModel)]="rateConverted.value"
        />
      </mat-form-field>

      <mat-form-field class="conversion-rate__element-select">
        <mat-label>TE</mat-label>
        <mat-select [(ngModel)]="rateConverted.id">
          <mat-option *ngFor="let rate of rates" [value]="rate.id">
            {{ rate.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      mat-stroked-button
      color="primary"
      *ngIf="rateConverted.value && rateConverted.id"
      (click)="bond()"
    >
      Guardar
    </button>
  </div>
</div>
