<div class="payment-plan">
  <div class="payment-plan__report">
    <mat-tab-group
      mat-align-tabs="center"
      (selectedTabChange)="selectedTabChange($event)"
    >
      <mat-tab label="Frances">
        <mat-table
          [dataSource]="frenchPaymentPlan.flujo"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="periodo">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.periodo }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cupon">
            <mat-header-cell *matHeaderCellDef> Cupon </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.cupon }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amortizacion">
            <mat-header-cell *matHeaderCellDef> Amortizacion </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.amortizacion }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="costosGastos">
            <mat-header-cell *matHeaderCellDef> Costos </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.costosGastos }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cuota">
            <mat-header-cell *matHeaderCellDef> Cuota </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.cuota }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="saldoInsoluto">
            <mat-header-cell *matHeaderCellDef>
              Saldo Insoluto
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.saldoInsoluto }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="deudaExtinguida">
            <mat-header-cell *matHeaderCellDef>
              Deuda Extinguida
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.deudaExtinguida }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorActual">
            <mat-header-cell *matHeaderCellDef>
              Valor Actual
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.valorActual }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="flujoEmisor">
            <mat-header-cell *matHeaderCellDef>
              Flujo Emisor
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.flujoEmisor }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="flujoBonista">
            <mat-header-cell *matHeaderCellDef>
              Flujo Bonista
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.flujoBonista }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-tab>
      <mat-tab label="Aleman">
        <mat-table
          [dataSource]="germanPaymentPlan.flujo"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="periodo">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.periodo }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cupon">
            <mat-header-cell *matHeaderCellDef> Cupon </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.cupon }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amortizacion">
            <mat-header-cell *matHeaderCellDef> Amortizacion </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.amortizacion }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="costosGastos">
            <mat-header-cell *matHeaderCellDef> Costos </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.costosGastos }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cuota">
            <mat-header-cell *matHeaderCellDef> Cuota </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.cuota }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="saldoInsoluto">
            <mat-header-cell *matHeaderCellDef>
              Saldo Insoluto
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.saldoInsoluto }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="deudaExtinguida">
            <mat-header-cell *matHeaderCellDef>
              Deuda Extinguida
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.deudaExtinguida }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorActual">
            <mat-header-cell *matHeaderCellDef>
              Valor Actual
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.valorActual }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="flujoEmisor">
            <mat-header-cell *matHeaderCellDef>
              Flujo Emisor
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.flujoEmisor }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="flujoBonista">
            <mat-header-cell *matHeaderCellDef>
              Flujo Bonista
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.flujoBonista }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-tab>
      <mat-tab label="Americano">
        <mat-table
          [dataSource]="americanPaymentPlan.flujo"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="periodo">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.periodo }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cupon">
            <mat-header-cell *matHeaderCellDef> Cupon </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.cupon }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amortizacion">
            <mat-header-cell *matHeaderCellDef> Amortizacion </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.amortizacion }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="costosGastos">
            <mat-header-cell *matHeaderCellDef> Costos </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.costosGastos }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cuota">
            <mat-header-cell *matHeaderCellDef> Cuota </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.cuota }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="saldoInsoluto">
            <mat-header-cell *matHeaderCellDef>
              Saldo Insoluto
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.saldoInsoluto }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="deudaExtinguida">
            <mat-header-cell *matHeaderCellDef>
              Deuda Extinguida
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.deudaExtinguida }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valorActual">
            <mat-header-cell *matHeaderCellDef>
              Valor Actual
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.valorActual }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="flujoEmisor">
            <mat-header-cell *matHeaderCellDef>
              Flujo Emisor
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.flujoEmisor }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="flujoBonista">
            <mat-header-cell *matHeaderCellDef>
              Flujo Bonista
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.flujoBonista }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="payment-plan__static">
    <p>
      TCEA-Bonista: {{ tceaBonista * 100 | number: "1.3-3" }}% | TCEA-Emisor:
      {{ tceaEmisor * 100 | number: "1.3-3" }}%
    </p>

    <div class="payment-plan__options">
      <button mat-stroked-button color="primary" (click)="closePaymentPlan()">
        Volver
      </button>
      <button mat-stroked-button color="primary" (click)="deleteBond()">
        Eliminar
      </button>
    </div>
  </div>
</div>
