.payment-plan {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.payment-plan__report {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}

.payment-plan__static {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-plan__options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.payment-plan__detail {
  text-align: center;
}
