<div class="change-money">
  <div class="change-money__pair-element-container">
    <mat-form-field class="change-money__element-input" appearance="outline">
      <mat-label>Monto a convertir</mat-label>
      <input
        type="number"
        matInput
        placeholder="Monto a convertir"
        [(ngModel)]="coinSelected.amount"
        (keyup.enter)="converterCoin()"
        (keydown)="hideInformation()"
      />
    </mat-form-field>

    <mat-form-field class="change-money__element-select">
      <mat-label>Moneda</mat-label>
      <mat-select [(ngModel)]="coinSelected.id">
        <mat-option *ngFor="let coin of coins" [value]="coin.id">
          {{ coin.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="change-money__convert-container">
    <mat-icon
      class="change-money__convert-icon"
      aria-hidden="false"
      aria-label="Example home icon"
      (click)="converterCoin()"
      >arrow_downward</mat-icon
    >
    <div class="change-money__additional-information" *ngIf="information">
      <p>
        La tasa de cambio fue de
        {{ coinConverted.amount / coinSelected.amount | number: "1.3-3" }}
        por cada un {{ coinSelected.nombre }}
      </p>

      <p>
        Esta tasa es de caracter referencial
      </p>
    </div>
  </div>

  <div
    class="change-money__bond-container"
    [ngClass]="{
      'change-money__bond-container--border': coinConverted.amount > 0
    }"
  >
    <div class="change-money__pair-element-container">
      <mat-form-field class="change-money__element-input" appearance="outline">
        <mat-label>Monto convertido</mat-label>
        <input
          type="number"
          matInput
          placeholder="Monto convertido"
          [(ngModel)]="coinConverted.amount"
          (keydown)="hideInformation()"
        />
      </mat-form-field>

      <mat-form-field class="change-money__element-select">
        <mat-label>Moneda</mat-label>
        <mat-select [(ngModel)]="coinConverted.id">
          <mat-option *ngFor="let coin of coins" [value]="coin.id">
            {{ coin.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      *ngIf="coinConverted.amount > 0 && coinConverted.id"
      mat-stroked-button
      color="primary"
      (click)="bond()"
    >
      Guardar
    </button>
  </div>
</div>
