@import "src/styles-color.scss";

.bond {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bond__pair-element-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bond__element-input {
  margin: 0.5rem;
  width: 45%;
}

.bond__element-select {
  margin: 0.5rem;
  width: 25%;
}

.bond_view {
  margin-bottom: 2rem;
}
